.key-moments-container {
    border: 1px solid blue;
    background-color: aliceblue;
}

.key-moments-title {
    border: 1px solid skyblue;
}

.key-moments-section {
    display: flex;
    flex-direction: column;
}