@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.key-moments-container {
    padding-right: 20vw;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
}

.key-moments-title {
    border: 1px solid skyblue;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.key-moments-section {
    display: flex;
    flex-direction: column;
}

.key-moments-row {
    display: flex;
}

.key-moments-time {
    padding: 5vh;
    font-family: 'Comfortaa', cursive;
    color: white;
}

.key-moments-text {
    padding: 5vh;
    font-family: 'Comfortaa', cursive;
    color: white;
}

.key-moments-container:hover {
    background-color: rgba(0, 0, 0, 0.7);
}