.updates-container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.updates-list-item {
    display: flex;
    flex-direction: row;
}


.updates-list-circle-container {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.update-circle {
    width: 50px;
    height: 50px;

    align-items: center;
    justify-content: center;

}

.updates-list-item-number {
    display: flex;
    position: absolute;
    
    align-items: center;
    justify-content: center;
}
